

body{
    font-family: Arial, Helvetica, sans-serif;
}


.background{
background-color: rgb(211, 168, 59);

}


.h1{
    font-size: 500%;
    text-align: center;
    
}

.h-link{
    text-align: center;
    font-size: 150%;
}

.original.img{
    display: block;
    margin: auto;
}


div{
    text-align: center;
}



    
    